.home-content {
  height: 142vh; }

.main_img_wrapper {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0; }
  .main_img_wrapper img {
    opacity: 0; }
  .main_img_wrapper .loaded img {
    opacity: 1; }

.name_header {
  position: relative;
  top: 58vh;
  height: 15vh;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-family: nunito, sans;
  text-shadow: 2px 2px black;
  font-size: 5em; }

.scroll-indicator {
  position: relative;
  top: 75vh;
  left: 50vw;
  font-size: 50px; }

.buttons {
  width: 100%;
  position: absolute;
  top: 115vh;
  height: 42vh; }
  .buttons > div {
    height: 100%; }
    .buttons > div > a {
      height: 100%;
      float: left;
      margin: 0;
      padding: 0;
      color: inherit; }
      .buttons > div > a:hover {
        color: #2BA1A1; }
      .buttons > div > a > div {
        width: 96%;
        height: 96%;
        margin: 2%;
        display: inline-block;
        text-align: center;
        background-color: #2B2B2B;
        border-radius: 20px;
        font-size: 1.5em;
        box-shadow: 1px 1px 3px #050505; }
        .buttons > div > a > div > div {
          width: 99%;
          height: 99%;
          border-radius: 20px;
          margin: 1px 0 0 1px;
          border-left: 1px solid #515151;
          border-top: 1px solid #515151;
          text-align: center;
          margin: auto; }
          .buttons > div > a > div > div .fa {
            position: relative;
            left: 4px; }
          .buttons > div > a > div > div > i {
            margin-top: 11vh;
            font-size: 10vh;
            padding: 5px; }
          .buttons > div > a > div > div span {
            font-size: 6vh; }

@media screen and (max-width: 47.5em) {
  .name_header {
    font-size: 2em; }

  .buttons div a {
    height: 33% !important; }
    .buttons div a div {
      width: 80%;
      margin: 2% 10%; }
      .buttons div a div div i {
        margin-top: 1.5vh;
        font-size: 4vh; }
      .buttons div a div div span {
        font-size: 3vh; }
      .buttons div a div div .connect-text {
        position: relative;
        top: -5px; } }
body {
  background-color: #2BA1A1;
  color: #EFFFFE;
  font-family: nunito, sans-serif;
  margin: 0;
  font-size: 1em; }

.main-content {
  margin: 1%; }

div {
  border-radius: .5em; }

span {
  white-space: nowrap; }

a {
  color: #4acfcf;
  text-decoration: none; }

p {
  margin: .6em 1% 1% 0; }

ul {
  padding-left: 2%;
  float: left;
  margin: 0; }

.top-bar {
  background-color: #2B2B2B;
  height: 48px;
  z-index: 10;
  position: relative;
  margin-bottom: 2vh;
  box-shadow: 1px 1px 3px #050505; }
  .top-bar > div {
    width: 100%;
    height: 100%;
    margin: 1px 0 0 1px;
    border-left: 1px solid #515151;
    border-top: 1px solid #515151; }

.name-title {
  float: left;
  line-height: 48px;
  height: 100%;
  text-shadow: 2px 2px black;
  border-radius: .5em;
  padding: 0 2vw;
  color: white; }
  .name-title:active {
    background-color: #515151 !important; }
  .name-title:hover {
    background-color: #1e1e1e; }

.wide-content > div {
  overflow: hidden;
  float: left;
  margin-bottom: 2vh;
  width: 100%; }
  .wide-content > div > div {
    width: 100%;
    float: left;
    margin-bottom: 2vh;
    background-color: #2B2B2B;
    box-shadow: 1px 1px 3px #050505; }
    .wide-content > div > div > div {
      float: left;
      width: 100%;
      height: 100%;
      border-radius: .5em;
      margin: 1px 0 0 1px;
      border-left: 1px solid #515151;
      border-top: 1px solid #515151; }
      .wide-content > div > div > div > span {
        float: left;
        width: 96.5%;
        margin: .5% 2%;
        font-size: 1.4em;
        border-bottom: 1px solid #515151; }
      .wide-content > div > div > div > div {
        width: 96%;
        float: left;
        margin: 0% 2% 1% 2%; }
        .wide-content > div > div > div > div > span {
          margin-bottom: 1%;
          width: 100%; }

.life-map {
  width: 95%;
  margin: 0 2.5%;
  height: 60vh;
  min-height: 300px; }

.tabd-gif {
  width: 95%;
  margin: 10px 2.5%; }

.grid-content {
  height: 80vh;
  width: 100%; }
  .grid-content > div {
    float: left; }
    .grid-content > div > a {
      margin-right: 1.7vw;
      margin-left: 1vw; }
      .grid-content > div > a:hover {
        color: #EFFFFE; }
      .grid-content > div > a > div {
        height: 40vh;
        float: left;
        display: inline-block;
        margin: 1.5vh 1.5vw;
        width: 100%;
        background-color: #2B2B2B;
        text-align: center;
        box-shadow: 1px 1px 3px #050505; }
        .grid-content > div > a > div > div {
          float: left;
          width: 100%;
          height: 100%;
          border-radius: .5em;
          margin: 1px 0 0 1px;
          border-left: 1px solid #515151;
          border-top: 1px solid #515151; }
        .grid-content > div > a > div i {
          margin-left: 8px;
          margin-top: 11vh;
          font-size: 10vh;
          padding: 5px; }
        .grid-content > div > a > div span {
          font-size: 6vh; }

.connect {
  width: 97%; }

.placeholder {
  width: 20%;
  height: 20%;
  padding: 1%;
  border-radius: 3%;
  margin-left: 40%;
  margin-top: 20%;
  background-color: #2B2B2B;
  display: inline-block;
  text-align: center; }
  .placeholder > i {
    padding: 5%; }

.custom-menu-wrapper {
  margin-bottom: 2.5em;
  white-space: nowrap;
  position: relative; }

.custom-menu {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased; }

.menu-expanded {
  padding-bottom: 48px; }

.pure-menu-item {
  float: right;
  border-radius: 4px;
  cursor: pointer; }
  .pure-menu-item a u {
    text-decoration: none; }
  .pure-menu-item:hover {
    background-color: #1e1e1e; }
    .pure-menu-item:hover a u {
      border-bottom: 1px solid #515151; }

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
  color: white; }

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
  background-color: transparent; }

.custom-menu-top {
  position: relative;
  top: 0;
  height: 48px; }

.custom-menu-bottom {
  padding: 0 !important;
  height: 48px;
  line-height: 31px;
  border-radius: 0;
  border: 0 !important;
  position: absolute;
  right: 0; }

.pure-menu-list {
  float: right;
  margin-right: 40px; }

.custom-menu-brand {
  display: block;
  text-align: center;
  position: relative; }

.custom-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  display: none; }

.custom-menu-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.custom-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.custom-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.custom-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 3em;
  width: 70em;
  position: absolute;
  top: 0;
  z-index: -1; }

.custom-menu-tucked .custom-menu-screen {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(-44px);
  -ms-transform: translateY(-44px);
  transform: translateY(-44px); }

@media (max-width: 48em) {
  .pure-menu-list {
    font-size: .8em;
    width: calc(100% - 80px);
    border-top: 1px solid grey; }

  .grid-content > div > a > div {
    height: 19vh; }
    .grid-content > div > a > div > div > i {
      margin-top: 1.5vh;
      font-size: 7vh; }
    .grid-content > div > a > div > div span {
      font-size: 5vh; }

  .custom-menu {
    display: block; }

  .custom-menu-toggle {
    display: block;
    display: none\9; }

  .custom-menu-bottom {
    display: none;
    position: absolute;
    width: 100%;
    border-top: 1px solid #515151;
    background-color: #808080 \9;
    z-index: 100; }

  .custom-menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }

  .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    transform: translateX(-140px);
    opacity: 0;
    opacity: 1\9; }

  .pure-menu-horizontal.custom-menu-tucked {
    z-index: -1;
    top: 45px;
    position: absolute;
    overflow: hidden; } }

/*# sourceMappingURL=JABR_site_styles.css.map */
