@import "colors";
.home-content {
    height: 142vh;
}

.main_img {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.name_header {
    position: relative;
    top: 58vh;
    height: 15vh;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: nunito, sans;
    text-shadow: 2px 2px black;
    font-size: 1.5em;
}

.buttons {
    width: 100%;
    position: absolute;
    top: 115vh;
    height: 42vh;
    >div {
        height: 100%;
        >a {
            height: 100%;
            float: left;
            margin: 0;
            padding: 0;
            color: inherit;
            &:hover {
                color: $teal;
            }
            >div {
                width: 96%;
                height: 96%;
                margin: 2%;
                display: inline-block;
                text-align: center;
                background-color: $dk-grey;
                border-radius: 20px;
                font-size: 1.5em;
                box-shadow: 1px 1px 3px darken($dk-grey, 15%);
                >div {
                    width: 99%;
                    height: 99%;
                    border-radius: 20px;
                    margin: 1px 0 0 1px;
                    border-left: 1px solid $med-grey;
                    border-top: 1px solid $med-grey;
                    text-align: center;
                    margin: auto;
                    >i {
                        margin-top: 11vh;
                        font-size: 10vh;
                        padding: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 48em) {
    .buttons {
        div {
            a {
                height: 33% !important;
                div{
                    div{
                        i{
                            font-size: 4vh;
                        }
                    }
                }
            }
        }
    }
}