@import "colors";
.home-content {
    height: 142vh;
}

.main_img_wrapper {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    img {
        opacity: 0;
    }
    .loaded img {
        opacity: 1;
    }
}

.name_header {
    position: relative;
    top: 58vh;
    height: 15vh;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: nunito, sans;
    text-shadow: 2px 2px black;
    font-size: 5em;
}

.scroll-indicator{
    position: relative;
    top: 75vh;
    left: 50vw;
    font-size: 50px;
}

.buttons {
    width: 100%;
    position: absolute;
    top: 115vh;
    height: 42vh;
    >div {
        height: 100%;
        >a {
            height: 100%;
            float: left;
            margin: 0;
            padding: 0;
            color: inherit;
            &:hover {
                color: $teal;
            }
            >div {
                width: 96%;
                height: 96%;
                margin: 2%;
                display: inline-block;
                text-align: center;
                background-color: $dk-grey;
                border-radius: 20px;
                font-size: 1.5em;
                box-shadow: 1px 1px 3px darken($dk-grey, 15%);
                >div {
                    width: 99%;
                    height: 99%;
                    border-radius: 20px;
                    margin: 1px 0 0 1px;
                    border-left: 1px solid $med-grey;
                    border-top: 1px solid $med-grey;
                    text-align: center;
                    margin: auto;
                    .fa {
                        position: relative;
                        left: 4px;
                    }
                    >i {
                        margin-top: 11vh;
                        font-size: 10vh;
                        padding: 5px;
                    }
                    span {
                        font-size: 6vh;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 47.5em) {
    .name_header {
        font-size: 2em;
    }
    .buttons {
        div {
            a {
                height: 33% !important;
                div {
                    width: 80%;
                    margin: 2% 10%;
                    div {
                        i {
                            margin-top: 1.5vh;
                            font-size: 4vh;
                        }
                        span {
                            font-size: 3vh;
                        }
                        .connect-text {
                            position: relative;
                            top: -5px;
                        }
                    }
                }
            }
        }
    }
}