@import "colors";
body {
    background-color: #009B9B;
    color: $white;
    font-family: nunito, sans-serif;
    margin: 1%;
    font-size: 1em;
}

div {
    border-radius: .5em;
}

span {
    white-space: nowrap;
}

a {
    color: $teal;
    text-decoration: none;
}

p {
    margin: 0 1% 1% 0;
}

ul {
    padding-left: 2%;
    float: left;
    margin: 0;
}

.top-bar {
    background-color: $dk-grey;
    height: 7vh;
    z-index: 10;
    position: relative;
    margin-bottom: 1%;
}

.name-title {
    float: left;
    line-height: calc(7vh * .9);
    width: 30%;
    height: (7vh * .9);
    margin-left: 1%;
}

.top-button {
    height: 100%;
    width: 17%;
    text-align: center;
    line-height: calc(7vh * .9);
    float: left;
    border-radius: 4px;
    cursor: pointer;
    &:active {
        background-color: $med-grey !important;
    }
    &:hover {
        background-color: darken($dk-grey, 5%);
    }
}

.wide-content {
    >div {
        float: left;
        margin-bottom: 1%;
        width: 100%;
        >div {
            width: 100%;
            float: left;
            margin-bottom: 1%;
            background-color: $dk-grey;
            >span {
                float: left;
                width: 96.5%;
                margin: 1% 2%;
                font-size: 1.4em;
                border-bottom: 1px solid $med-grey;
            }
            >div {
                width: 96%;
                float: left;
                margin: 0% 2% 1% 2%;
                >span {
                    margin-bottom: 1%;
                    width: 100%;
                }
            }
        }
    }
}

.life-map {
    width: 92vw;
    height: 61vw;
}

.grid-content {
    >div {
        float: left;
        >div {
            float: left;
            display: inline-block;
            margin: 1.5vh 1.5vw;
            width: 45vw;
            height: 45vh;
            background-color: $dk-grey;
            text-align: center;
            font-size: 3em;
        }
    }
}

.placeholder {
    width: 20%;
    height: 20%;
    padding: 1%;
    border-radius: 3%;
    margin-left: 40%;
    margin-top: 20%;
    background-color: $dk-grey;
    display: inline-block;
    text-align: center;
    >i {
        padding: 5%;
    }
}