$dk-grey: #2B2B2B;
$med-grey: lighten($dk-grey, 15%);
$white: #77BA99;
$teal: #009B9B;
body {
    background-color: #009B9B;
    color: #EFFFFE;
    font-family: nunito, sans-serif;
    margin: 1%;
    font-size: 1em;
}

div {
    border-radius: .5em;
    background-color: $dk-grey;
}

span {
    float: left;
    white-space: nowrap;
}

a {
    color: $teal;
    text-decoration: none;
}

.top-bar {
    background-color: $dk-grey;
    height: 7vh;
    z-index: 10;
    position: relative;
}

.name-title {
    float: left;
    line-height: calc(7vh * .9);
    width: 30%;
    height: (7vh * .9);
    margin-left: 1%;
}

.top-button {
    height: 100%;
    width: 17%;
    text-align: center;
    line-height: calc(7vh * .9);
    float: left;
    border-radius: 4px;
    cursor: pointer;
    &:active {
        background-color: $med-grey !important;
    }
    &:hover {
        background-color: darken($dk-grey, 5%);
    }
}

.content {
    >div {
        margin-bottom: 1%;
        >div {
            >span {
                width: 96%;
                padding-left: 2.5%;
                margin: 1%;
                font-size: 1.4em;
                border-bottom: 1px solid $med-grey;
            }
            background-color: $dk-grey;
            >div {
                margin: 1%;
            }
        }
    }
}

.placeholder {
    width: 20%;
    height: 20%;
    padding: 1%;
    border-radius: 3%;
    margin-left: 40%;
    margin-top: 20%;
    background-color: $dk-grey;
    display: inline-block;
    text-align: center;
    >i {
        padding: 5%;
    }
}