@import "colors";
@import "home_styles";
body {
    background-color: $teal;
    color: $white;
    font-family: nunito, sans-serif;
    margin: 0;
    font-size: 1em;
}

.main-content{
    margin: 1%;
}

div {
    border-radius: .5em;
}

span {
    white-space: nowrap;
}

a {
    color: lighten($teal, 15%);
    text-decoration: none;
}

p {
    margin: .6em 1% 1% 0;
}

ul {
    padding-left: 2%;
    float: left;
    margin: 0;
}

.top-bar {
    background-color: $dk-grey;
    height: 7vh;
    z-index: 10;
    position: relative;
    margin-bottom: 1%;
    box-shadow: 1px 1px 3px darken($dk-grey, 15%);
    >div {
        width: 100%;
        height: 100%;
        margin: 1px 0 0 1px;
        border-left: 1px solid $med-grey;
        border-top: 1px solid $med-grey;
    }
}

.name-title {
    float: left;
    line-height: 6.3vh;
    height: 100%;
    text-shadow: 2px 2px black;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 1vw;
    &:active {
        background-color: $med-grey !important;
    }
    &:hover {
        background-color: darken($dk-grey, 5%);
    }
}

.wide-content {
    >div {
        overflow: hidden;
        float: left;
        margin-bottom: 1%;
        width: 100%;
        >div {
            width: 100%;
            float: left;
            margin-bottom: 1%;
            background-color: $dk-grey;
            box-shadow: 1px 1px 3px darken($dk-grey, 15%);
            >div {
                float: left;
                width: 100%;
                height: 100%;
                border-radius: .5em;
                margin: 1px 0 0 1px;
                border-left: 1px solid $med-grey;
                border-top: 1px solid $med-grey;
                >span {
                    float: left;
                    width: 96.5%;
                    margin: .5% 2%;
                    font-size: 1.4em;
                    border-bottom: 1px solid $med-grey;
                }
                >div {
                    width: 96%;
                    float: left;
                    margin: 0% 2% 1% 2%;
                    >span {
                        margin-bottom: 1%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.life-map {
    width: 92vw;
    height: 80vh;
}

.grid-content {
    >div {
        float: left;
        >a {
            &:hover {
                color: $white;
            }
            >div {
                float: left;
                display: inline-block;
                margin: 1.5vh 1.5vw;
                width: 45vw;
                height: 45vh;
                background-color: $dk-grey;
                text-align: center;
                font-size: 3em;
                box-shadow: 1px 1px 3px darken($dk-grey, 15%);
                >div {
                    float: left;
                    width: 100%;
                    height: 100%;
                    border-radius: .5em;
                    margin: 1px 0 0 1px;
                    border-left: 1px solid $med-grey;
                    border-top: 1px solid $med-grey;
                }
                >i {
                    margin-left: 14px;
                    font-size: 2.5em;
                }
            }
        }
    }
}

.placeholder {
    width: 20%;
    height: 20%;
    padding: 1%;
    border-radius: 3%;
    margin-left: 40%;
    margin-top: 20%;
    background-color: $dk-grey;
    display: inline-block;
    text-align: center;
    >i {
        padding: 5%;
    }
}

.custom-menu-wrapper {
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}